[Unit]
Description=Mozilla WebThings Gateway
After=network.target

[Service]
Environment=WEBTHINGS_HOME=/home/root/.webthings
Type=simple
StandardOutput=journal
StandardError=journal
WorkingDirectory=/opt/gateway
ExecStart=/usr/bin/node build/app.js
Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target
