[Unit]
Description=Mozilla WebThings Gateway
After=network.target

[Service]
Type=simple
StandardOutput=journal
StandardError=journal
WorkingDirectory=/usr/lib/webthings-gateway
ExecStart=/usr/bin/webthings-gateway
Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target
